[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	sp = smart-pull
[user]
	name = Phi Le
	email = vietataru@gmail.com 
[core]
	excludesfile = /Users/Vsin/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[color]
	ui = always
